/*
1. always add html and body height/width if
child stuff wants to use this as a % reference
2. child don't need to write class="" just div
3. classes always need to display flex before doing anything
4. you can change flex for different classes
5. think of the big structure before doing it (how the flex is packed)
*/

html,body{
    margin: 0;
    height: 100%;
    background-color: #d5e3bf;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    height: 100%;
    gap:10px;
    padding: 10px;
}

.top{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    gap:10px;
}

.pink{
    display: flex;
    width: 100%;
    background-color: #c27f76;
}

.bottom{
    display: flex;
    flex-direction: row;
    height:80%;
    width: 100%;
    gap:10px;
}

.bottom-left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #828a76;
    height: 100%;
    width: 50%;
}

#yellow{
    background-color: #f5ee25;
    height: 20%;
    width: 20%;
}

.bottom-right{
    display: flex;
    flex-direction: column;
    gap:10px;
    height: 100%;
    width: 50%;
}

.green{
    display: flex;
    background-color: #919c52;
    height: 25%;
    width: 100%;
}
