body{
    background-color: black;
}
h1{
    color:white;
    
}
h2{
    color:bisque;
}
h3{
    color:coral;
}

.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:150%;
}

.about{
    color:white;
}

ol{
    color:aquamarine;
    width:fit-content;
}

.list{
    border: 20px;
    padding:10px;
    margin:20px;
    border: 1px solid yellow;
}

